body{
    font: 20px; Arial, sans-serif;
}

.navbar {
    background-color: #688A08;
}

.quem-somos {
    background-color: #c0d9f3;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #D8CEF6;
    color: white;
}

.serviços{
    background-color: #F5A9BC;
    color: white;
}
.bg-footer{
    background-color: black;
    color: white;
}